.close-tab-button {
	-GtkButton-default-border : 0px;
	-GtkButton-default-outside-border : 0px;
	-GtkButton-inner-border: 0px;
	-GtkWidget-focus-line-width : 0px;
	-GtkWidget-focus-padding : 0px;
	padding: 0px;
}

popover list {
	background-color: inherit;
}

.statusbar {
	background-color: rgba(0,0,0,0.6);
	border: 1px solid black;
	border-radius: 7px;
	padding: 10px 20px;
	color: white;
}
